.container {
  margin-top: 20px;
}

label {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #ffc107;
  color: black;
  border: none;
  padding: 4px 10px;
  outline: 0;
  margin: 15px;
}

.button:hover {
  background-color: #e0a800;
}

.invallid {
  border: 1px solid red !important;
}

input,
textarea {
  outline: 0;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 540px) {


}
